* {
  font-family: "universe-condensed-bold", "arial", sans-serif;
}

.bottom-right-img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 40%;
}

.brand-logo {
  width: 100%;
  max-width: 190px;
  height: auto;
}

.season-deadline {
  font-size: 20px;
  font-weight: 600;
}

.offer-description {
  max-height: 200px;
  overflow-y: auto;
}

.offer-card {
  z-index: 2;
  padding: 30px 30px;
  max-width: 440px;
  position: relative;
}

.offer-card-border {
  border: 6px solid;
}

.offer-details {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.winning-criteria {
  font-size: 20px;
  font-weight: 600;
}

.offer {
  font-size: 30px;
  font-weight: 800;
}

.text-center {
  text-align: center;
}

.play-game-btn {
  height: 50px;
  width: fit-content;
  padding: 4px 10px;
  border: 4px solid;
  border-radius: 5px;
  cursor: pointer;

  .button-text {
    font-size: 26px;
    font-weight: 800;
    text-shadow: 2px 0 #432d20, -2px 0 #432d20, 0 2px #432d20, 0 -2px #432d20,
      2px 2px #432d20, -2px -2px #432d20, 2px -2px #432d20, -2px 2px #432d20;
  }
}

@media only screen and (max-width: 1000px) {
  .offer-card {
    max-width: 80% !important;
  }
}

@media only screen and (max-width: 800px) {
  .play-game-btn {
    height: 37.5px;
    // width: 120px;
    border: 3px solid;
    cursor: pointer;

    .button-text {
      font-size: 20px;
      font-weight: 600;
      text-shadow: 2px 0 #432d20, -2px 0 #432d20, 0 2px #432d20, 0 -2px #432d20,
        2px 2px #432d20, -2px -2px #432d20, 2px -2px #432d20, -2px 2px #432d20;
    }
  }
}

@media only screen and (max-width: 450px) {
  .offer-details {
    font-size: 14px;
  }
  .winning-criteria {
    font-size: 16px;
  }
  .offer {
    font-size: 20px;
  }
}

@media only screen and (max-height: 700px) {
  .offer-description {
    max-height: 130px;
  }
}

@media only screen and (max-width: 500px) {
  .offer-card {
    padding: 30px 22px;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 600px) {
  .offer-card {
    max-width: 95% !important;
    padding: 15px 15px;
  }
}
