* {
  font-family: "universe-condensed-bold", "arial", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #630311;
  position: absolute;
}

.bubble-type-1 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #eee4e5;
  position: absolute;
}

.bubble-type-2 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #caaaaf;
  position: absolute;
}

.bubble-type-3 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #863a46;
  position: absolute;
}

.offer-card {
  z-index: 2;
  background-color: #ffffff;
  border: 6px solid #432d20;
  padding: 30px 30px;
}

.brand-logo {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.christmas-deadline {
  font-size: 20px;
  font-weight: 600;
  color: #bfc835;
}

.offer-description {
  padding: 0 30px;
  max-height: 200px;
  overflow-y: auto;
}

.offer-details {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #432d1f;
}

.winning-criteria {
  font-size: 20px;
  font-weight: 600;
  color: #432d1f;

  .required-points {
    color: #bfc835;
  }
}

.offer {
  font-size: 30px;
  font-weight: 800;
  color: #b4bd00;
}

.play-game-btn {
  height: 65px;
  width: 150px;
  border: 3px solid #432d20;
  background-color: #b4bd00;
  cursor: pointer;

  .button-text {
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
    text-shadow: 2px 2px 4px #432d20;
    // border: 2px solid #432d20;
  }
}

// @media only screen and (max-width: 1280px) {
//   .offer-details {
//     font-size: 16px;
//   }
//   .christmas-deadline {
//     font-size: 18px;
//   }
//   .offer {
//     font-size: 26px;
//   }

//   .play-game-btn {
//     height: 50px;
//     width: 130px;

//     .button-text {
//       font-size: 18px;
//     }
//   }
// }

// @media only screen and (max-width: 1000px) {
//   .offer-details {
//     font-size: 16px;
//   }
//   .christmas-deadline {
//     font-size: 16px;
//   }
//   .offer {
//     font-size: 22px;
//   }

//   .play-game-btn {
//     height: 45px;
//     width: 120px;

//     .button-text {
//       font-size: 16px;
//     }
//   }
// }

// @media only screen and (max-height: 600px) {
//   .offer-details {
//     font-size: 14px;
//   }
//   .winning-criteria {
//     font-size: 18px;
//   }
//   .christmas-deadline {
//     font-size: 14px;
//   }
//   .offer {
//     font-size: 20px;
//   }

//   .play-game-btn {
//     height: 45px;
//     width: 120px;

//     .button-text {
//       font-size: 16px;
//     }
//   }

//   .offer-card {
//     height: 90%;
//   }
// }

// @media only screen and (max-width: 900px) {
//   .brand-logo {
//     width: 70%;
//   }
// }
// @media only screen and (max-width: 600px) {
//   .offer-details {
//     font-size: 12px;
//   }
//   .brand-logo {
//     width: 70%;
//   }
//   .winning-criteria {
//     font-size: 14px;
//   }
//   .offer {
//     font-size: 16px;
//   }
// }

// @media only screen and (max-width: 375px) {
//   .offer-description {
//     max-height: 100px;
//   }
// }
