<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div class="offer-card" fxFlex="60" fxFlex.lt-md="80" fxLayout="column" fxLayoutAlign="start center">
    <img src="../assets/images/company-logo.png" alt="" class="brand-logo mb-20">
    <h3 class="christmas-deadline mb-24">12 days till Christmas!</h3>

    <section class="offer-description mb-24">
      <p class="offer-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque molestias fugiat
        quod
        error
        beatae laudantium totam soluta impedit, accusamus eligendi nostrum. Modi, delectus obcaecati in commodi
        dignissimos voluptates at deserunt eligendi quia exercitationem beatae ullam consequuntur perspiciatis
        laboriosam
        molestiae facilis repellendus sed esse nemo id. Hic commodi quaerat veritatis error?</p>
    </section>
    <h2 class="winning-criteria mb-5">Get more then <span class="required-points">100</span> points to win</h2>
    <h1 class="offer mb-24"> 50% on all SPIGA Pizzas</h1>

    <section class="countdown mb-30" fxLayout="column" fxLayoutAlign="center center">
      <h2 class="winning-criteria">New Price In:</h2>
      <h2 class="winning-criteria">24 hours : 52 minutes : 21 seconds</h2>
    </section>

    <button class="play-game-btn"><span class="button-text">Play Game</span></button>
  </div>
</div>