/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: universe-condensed-bold;
  src: url(assets/fonts/Univers-CondensedBold.woff) format("opentype");
}
@font-face {
  font-family: universe-ultra-condensed;
  src: url(assets/fonts/Univers-UltraCondensed.woff) format("opentype");
}
@font-face {
  font-family: universe-light-pro-ultra-condensed;
  src: url(assets/fonts/UniversLTPro-UltCond.ttf) format("opentype");
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.count-down {
  span {
    font-size: 22px;
    font-weight: 600;
    color: #432d1f;
  }
}
